# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vscode

.env
tmp
judge0.conf
.wrangler
.dev.vars
config.monitoring
deployments/monitoring/alertmanager/config.yml
frontend/src/scripts/generateLanguageRoutes.ts
frontend/src/scripts/generateSitemap.ts
frontend/vite.config.ts.timestamp-1730626821061-c263d4368067c.mjs
